<% provide(:title, 'About') %>
<div class="center hero-unit">
	<p>
		This application is intended solely for use by Team Schein Members to increase visibility
		and communication between TechCentral Remote Support and local centers nationwide to provide
		the highest quality and seamless support to our customers.
	</p>
</div>
