<% provide(:title, "Help") %>
<div class="center bg">
  <div class="hsps"></div>
  <br/><br/><br/><br/><br/>
  <h2>Don't worry. <i>We know.</i> That's why we're here.</h2>
   <p class="center">Click the link below to contact TechCentral Remote Support.</p>
	<h3><%= link_to "Help Me TC!", "http://helpmetc.com" %></h3>
</div>