<% provide(:title, "Home") %>
<div class="center hero-unit">
  <h1 class="center">Welcome to DispatchLink!</h1>

  <h2>Authorized access only.</h2>

  <%= link_to "Sign up here", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>