<li>
  <span class="subject"><%= link_to request.cust_name, request_path(request.id) %></span><br/>
  <span class="timestamp">
    Sent <%= time_ago_in_words(request.created_at) %> ago.
  </span>
</li>