<footer>
  <small>
    Images and Logos Copyright of Henry Schein, Inc.
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Home', 'static_pages/home' %></li>
      <li><%= link_to 'Help', 'static_pages/help' %></li>
    </ul>
  </nav>
</footer>